## Pandas 공식문서 튜토리얼

# 하위 집합을 어떻게 선택하나

In [1]:
import pandas as pd

In [2]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
# 타이타닉 승객들의 나이 확인해보기
ages = titanic['age']
ages.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [4]:
# 단일 열의 출력 유형알아보기
type(titanic['age'])

pandas.core.series.Series

In [5]:
titanic['age'].shape

(891,)

In [6]:
# 타이타닉 승객들의 나이와 성별 출력
age_sex = titanic[['age', 'sex']]
age_sex.head()

    age     sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

In [7]:
titanic[['age', 'sex']].shape

(891, 2)

# 특정 행을 필터링 하기 위해서는

In [8]:
# 35세 이상의 승객을 출력
age_35 = titanic[titanic['age'] > 35]
age_35['age']

1      38.0
6      54.0
11     58.0
13     39.0
15     55.0
       ...
865    42.0
871    47.0
873    47.0
879    56.0
885    39.0
Name: age, Length: 217, dtype: float64

In [9]:
# 35세 이상의 크기
age_35.shape

(217, 15)

In [12]:
# 객실 클래스 2 와 3의 타이타닉 승객들을 출력
#isin() Series의 각 요소가 전달된 값 시퀀스의 요소와 정확히 일치하는지 여부를 보여준다
#boolean으로 반환
class_23 = titanic[titanic['pclass'].isin([2, 3])]
class_23.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False

In [14]:
# age에 NaN 값을 필터링한다
# notna 값이 Not Null 값은 True로 매핑한다.
age_no_na = titanic[titanic['age'].notna()]
age_no_na.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [15]:
# 크기를 통해 변화가 일어난걸 확인할 수 있다.
age_no_na.shape

(714, 15)

# 특정 행과 열을 어떻게 선택할까

In [19]:
# 35세 이상의 승객 성별을 알아보자
# loc/iloc 연산자는 선택 괄호 [] 앞에 필요하다. loc/iloc을 사용할 때 쉼표 앞에 있는 부분은
# 원하는 행이고 쉼표 뒤에 있는 부분은 선택할려는 열이다.
adult_names = titanic.loc[titanic["age"] > 35, "who"]  #loc[행인덱싱, 열인덱싱]
adult_names.head()

1     woman
6       man
11    woman
13      man
15    woman
Name: who, dtype: object

In [20]:
# 10 ~ 25행과 3 ~ 5열을 선택해보자
titanic.iloc[10:25, 3:5]  #iloc[행 인덱스, 열 인덱스] 숫자로 접근

     age  sibsp
10   4.0      1
11  58.0      0
12  20.0      0
13  39.0      1
14  14.0      0
15  55.0      0
16   2.0      4
17   NaN      0
18  31.0      1
19   NaN      0
20  35.0      0
21  34.0      0
22  15.0      0
23  28.0      0
24   8.0      3

In [21]:
# iloc을 이용해 새 값에 할당
titanic.iloc[0:3, 3] = "anoymous"
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,anoymous,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,anoymous,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,anoymous,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True