## Pandas 공식문서 튜토리얼

# 하위 집합을 어떻게 선택하나

In [ ]:
import pandas as pd

In [ ]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
# 타이타닉 승객들의 나이 확인해보기
ages = titanic['age']
ages.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [ ]:
# 단일 열의 출력 유형알아보기
type(titanic['age'])

pandas.core.series.Series

In [9]:
titanic['age'].shape

(891,)

In [10]:
# 타이타닉 승객들의 나이와 성별 출력
age_sex = titanic[['age', 'sex']]
age_sex.head()

    age     sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

In [11]:
titanic[['age', 'sex']].shape

(891, 2)

# 특정 행을 필터링 하기 위해서는

In [14]:
# 35세 이상의 승객을 출력
age_35 = titanic[titanic['age'] > 35]
age_35['age']

1      38.0
6      54.0
11     58.0
13     39.0
15     55.0
       ...
865    42.0
871    47.0
873    47.0
879    56.0
885    39.0
Name: age, Length: 217, dtype: float64

In [15]:
# 35세 이상의 크기
age_35.shape

(217, 15)